<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.ico">
    <title><%= content_for?(:title) ? yield(:title) : "PRIVY" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="top-bar">
      <ul class="menu">
        <li class="menu-text"><a href="/">Privy</a></li>
      </ul>
      <div class="top-bar-right">
        <ul class="menu">
          <li>
            <% if current_user == nil %>
              <%= link_to 'Sign In', new_user_session_path %>
            <% else %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            <% end %>
          </li>
          <li>
            <% if current_user == nil %>
              <%= link_to 'Sign Up', new_user_registration_path %>
            <% else %>
              <%= link_to 'Account', edit_user_registration_path %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
