<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %>BathroomReview</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "vendor/modernizr", 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div className="top-bar">
      <li className="page-title"><a href="/">Home</a></li>
      <div className="top-bar-right">
        <ul className="menu">
          <li>
            <% if current_user == nil %>
              <%= link_to 'Sign In', new_user_session_path %>
            <% else %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            <% end %>
          </li>
          <li>
            <% if current_user == nil %>
              <%= link_to 'Sign Up', new_user_registration_path %>
            <% else %>
              <%= link_to 'Account', edit_user_registration_path %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
